{% extends '_layouts/_admin.html.twig' %}

{% block title %}Categories{% endblock %}
{% block h1 %}Categories{% endblock %}
{% block body %}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6><a href="{{ path('admin_categories_create') }}" class="btn btn-primary">Create</a></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Parent Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Parent Category</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.parent.name|default('-') }}</td>
                        <td> 
                            <a href="{{ path('admin_categories_edit', {id: category.id}) }}" class="btn btn-primary">Edit</a> 
                            <a href="{{ path('admin_categories_delete', {id: category.id}) }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}