{% extends 'base.html.twig' %}

{% block title %}Details of product
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Details of product : {{ product.name }}</h1>
		<p>Description : {{ product.description }}</p>
	</div>
	 <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                {% if product.images is not empty %}
                    <img class="card-img-top" src="{{ product.images[0].name }}" alt"Image du produit {{ product.name }}" />
                {% else %}
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt"Image du produit {{ product.name }}" /></div>
                {% endif %}	
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                    <div class="fs-5 mb-5">
                    {% if product.soldPrice %}
                        <span class="text-decoration-line-through">{{product.price}} €</span>
                        <span>{{(product.price * (1 - product.soldPrice / 100))|number_format(2)}} €</span>
                    {% else %}
                        <span>{{product.price}} €</span>
                    {% endif %}
                    </div>
                    <p class="lead">{{product.description}}</p>
                    {# {{ form_start(cartForm, {'attr': {'class' : 'cart'}}) }} #}
                    <form action="{{path('app_cart_add', {id: product.id}) }}" method="get">
                        <div class="d-flex">
                            {# {{ form_row(cartForm.quantity) }} #}
                            <input class="form-control text-center me-3" id="quantity" name="quantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                Add to cart
                            </button>
                        </div>
                    {# {{ form_end(cartForm) }} #}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Related products</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
             {# {% for p in product.category.products|filter(p => p.id != product.id)|slice(0, 4) %} #}
                {% for p in relatedProducts %}
                    <div class="col mb-5">
                    
                        <div class="card h-100">
                            <!-- Sale badge-->
                            {% if p.soldPrice %}
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale {{p.soldPrice}} %</div>
                            {% endif %}
                            <!-- Product image-->
                            {% if p.images is not empty %}
                                <img class="card-img-top" src="{{ p.images[0].name }}" alt"Image du produit {{ p.name }}" />
                            {% else %}
                                <img class="card-img-top" src="https://dummyimage.com/450x300/de2e6/6c757d.jpg" alt"Image du produit {{ p.name }}" />
                            {% endif %}	
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ p.name }}</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    {% if p.soldPrice %}
                                    <span class="text-muted text-decoration-line-through">{{p.price}} €</span>
                                    {{(p.price * (1 - p.soldPrice / 100))|number_format(2)}} €
                                    {% else %}
                                    {{p.price}} €
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
                                    <a class="btn btn-outline-dark mt-auto" href="{{ path('app_product_details', {slug: product.slug}) }}">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
